.root-container{

}
.root-header{
    background-color: rgb(246, 248, 250);
    height: 104px;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
}
.menu-button{
    border: 1px solid #dbdbdb;
    width: 32px;
    height: 32px;
    border-radius: 7px;
    background-color: rgb(246, 248, 250);
    cursor: pointer;
    margin: 15px;
}
