*{
    box-sizing: border-box;
    color: #333;
}
button{
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-color: #fafafa;
    padding: 5px 10px;
    cursor: pointer;
    &:hover{
        background-color: #eee;
    }
    &:active{
        background-color: #aaa;
    }
    &:focus{
        outline: none;
    }
}
* ::-webkit-scrollbar{
    width: 5px;
    background-color: white;
}

* ::-webkit-scrollbar-thumb{
    border: 1px solid red;
    width: 2px;
    background-color: black;
}
